@{
    ViewBag.Title = "Index";
}

 
@Html.ActionLink("Створити нового", "New", "Customers", null, new { @class = "btn btn-success mt-4" })

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i> Клієнти
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="customers" class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ПІБ</th>
                        <th>Номер телефону</th>
                        <th>Дії</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>ПІБ</th>
                        <th>Номер телефону</th>
                        <th>Дії</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
}









