
@{
    ViewBag.Title = "Index";
}

<div class="card mb-4 mt-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i> Майстри сервіс центру
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <input id="centerId" type="hidden" value="@Session["ServiceCenterId"]" />

            <table id="employees" class="table table-bordered table-hover" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ПІБ</th>
                        <th>Номер телефону</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>ПІБ</th>
                        <th>Номер телефону</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/dataTable")
}
